<ion-content>
	<form [formGroup]='ItemForm'>
	<ion-grid>
		<ion-row class='headlineRow'>
			<ion-title>Item</ion-title>
		</ion-row>
		<ion-row class='addElementRow'>
			<button ion-button class='standardBtn' (click)='addItem()'>Add Item</button>
		</ion-row>
		<ion-row formArrayName='items' *ngFor='let item of ItemForm.get("items").controls; let i = index' class='itemRow'>
			<div class='formWrapper' [formGroupName]='i'>
				<ion-col *ngIf='!item.changeActivated' col-2 class="centeredContent">
					<button ion-button class='standardBtn editBtn' (click)='enableChange(item)'>Bearbeiten</button>
				</ion-col>
				<ion-col class="centeredContent actionBtnsCol" col-2 *ngIf="item.changeActivated">
					<ion-row>
						<ion-col col-6 class="centeredContent">
							<button ion-button icon-only class="standardBtn updateBtn" (click)="updateItem(item)">
								<ion-icon name="checkmark-circle"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-6 class="centeredContent">
							<button ion-button icon-only class="cancelChangeBtn standardBtn" (click)="cancelChange(item)">
								<ion-icon name="close-circle"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-12>
					<ion-title text-center>{{item.name}}</ion-title>
				</ion-col>
				<ion-col col-4 class='centeredContent' >
					<ion-label text-center>Item-Name</ion-label>
					<ion-input type='text' [(ngModel)]='item.name' formControlName='name' placeholder='e.g. Pokeball' [disabled]='!item.changeActivated'></ion-input>
				</ion-col>
				<ion-col col-4 class='centeredContent' >
					<ion-label text-center>Item-Price</ion-label>
					<ion-input type='number' [(ngModel)]='item.price' formControlName='price' placeholder='e.g. 4.90' [disabled]='!item.changeActivated'></ion-input>
				</ion-col>
				<ion-col col-6 class='centeredContent' *ngIf='item.changeActivated '>
					<ion-label text-center>Is sold out?</ion-label>
					<ion-checkbox formControlName='isSoldOut' [(ngModel)]='item.isSoldOut' [disabled]='!item.changeActivated'></ion-checkbox>
				</ion-col>
				<ion-col col-2 class="centeredContent">
					<button ion-button class="standardBtn deleteBtn" (click)="deleteItem(i)">Löschen</button>
				</ion-col>
			</div>
		</ion-row>
	</ion-grid>
	</form>
</ion-content>