<ion-content>
	<form [formGroup]='ShoppingcardForm'>
	<ion-grid>
		<ion-row class='headlineRow'>
			<ion-title>Shoppingcard</ion-title>
		</ion-row>
		<ion-row class='itemRow'>
				<ion-col col-12>
					<ion-title text-center>{{shoppingcard.name}}</ion-title>
				</ion-col>
				<ion-col col-12 class='centeredContent' >
					<ion-label text-center>Items</ion-label>
					<ion-select [(ngModel)]='shoppingcard.items' formControlName='items'  [disabled]='!shoppingcard.changeActivated' multiple='true'>
						<ion-option *ngFor='let item of items' [value]='item.id'>{{ item.name }}</ion-option>
					</ion-select>
				</ion-col>
				<ion-col col-12 class='centeredContent' >
					<ion-label text-center>Main-Item</ion-label>
					<ion-select [(ngModel)]='shoppingcard.mainItem' formControlName='mainItem'  [disabled]='!shoppingcard.changeActivated' >
						<ion-option *ngFor='let item of items' [value]='item.id'>{{ item.name }}</ion-option>
					</ion-select>
				</ion-col>
				<ion-col col-12 class='centeredContent' >
					<ion-label text-center>Description</ion-label>
					<ion-input type='text' [(ngModel)]='shoppingcard.note' formControlName='note' placeholder='this shopping card is used for ...' [disabled]='!shoppingcard.changeActivated'></ion-input>
				</ion-col>
				<ion-col col-6 class='centeredContent' >
					<ion-label text-center>Shopping cart name</ion-label>
					<ion-input type='text' [(ngModel)]='shoppingcard.name' formControlName='name' placeholder='e.g. Louis Bakery' [disabled]='!shoppingcard.changeActivated'></ion-input>
				</ion-col>
				<ion-col col-12 class='centeredContent' >
					<ion-label text-center>Delivery date</ion-label>
					<ion-datetime displayFormat='DD.MMM.YYYY' formControlName='deliveryDate' [(ngModel)]='shoppingcard.deliveryDate'></ion-datetime>
				</ion-col>
		</ion-row>
	</ion-grid>
	</form>
</ion-content>